html,
body {
  min-height: 700px;
}
body {
  min-height: 100vh;
}

#root {
  min-height: 100%;
}

.graph-container {
  /* height: 90vh; */
  height: 80%;
}

h3,
.h3 {
  font-size: 3vh !important;
  padding-right: 5px;
}

.nav-link {
  color: #3cb44c !important;
}

.info-button {
  border-radius: 50% !important;
  font-size: 18px;
  width: 38px;
  height: 38px;
  font-family: Hoefler Text Bold Italic;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

.betting-header {
  display: flex;
  align-items: center;
  margin: 5px;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}

.form-check-label {
  font-size: 1.5vh;
}

/* First container of table */
/* .sc-hKFyIo {
  background-color: red;
} */

/* Each Row of the table */
/* .sc-dlnjPT {
  background-color: red !important;
} */

/* Each cell of the table */
.sc-gtssRu {
  border-right: solid 2px #e5e5e5;
  font-size: 1.5vh;
}

/* The div that wraps the table */
.tableFixHead {
  width: 100%;
  height: 73vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 18, 18);
  width: 100%;
  color: whitesmoke;
  margin-top: 2vh;
}

.social {
  color: rgb(228, 223, 223);
  margin-left: 5px;
  margin-right: 5px;
}

#copyright {
  font-size: small;
  opacity: 35%;
}

.card {
  margin: 10px 0px;
  width: 15rem;
  margin: auto;
  height: 500px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators .active {
  background-color: black !important;
}

.carousel-indicators li {
  background-color: silver !important;
}

.css-26l3qy-menu {
  z-index: 9999 !important;
}

.card-title,
h5,
a {
  color: black !important;
  font-size: 2vh;
}

.sticky-table-header {
  cursor: pointer;
}

text {
  font-size: 0.75em !important;
  color: black !important;
  opacity: 1 !important;
  font-weight: bold;
  fill: black !important;
}
