html,
body {
  min-height: 700px;
}
body {
  min-height: 100vh;
}

#root {
  min-height: 100%;
}

.graph-container {
  /* height: 90vh; */
  height: 80%;
}

h3,
.h3 {
  font-size: 3vh !important;
  padding-right: 5px;
}

.nav-link {
  color: #3cb44c !important;
}

.info-button {
  border-radius: 50% !important;
  font-size: 18px;
  width: 38px;
  height: 38px;
  font-family: Hoefler Text Bold Italic;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

.betting-header {
  display: flex;
  align-items: center;
  margin: 5px;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}

.form-check-label {
  font-size: 1.5vh;
}

.playerFix {
  position: sticky;
  left: 0;
  top: auto;
  font-size: 1.4vh;
  overflow-x: auto;
  background: #eee;
  z-index: 3;
}

tr th:first-of-type {
  position: sticky;
  left: 0;
  background: #eee;
  z-index: 9;
}

th {
  position: sticky;
  left: auto;
  top: 0;
  overflow-x: auto;
}

.tableFixHead {
  overflow-y: auto;
  min-height: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 24px;
  white-space: nowrap;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 18, 18);
  width: 100%;
  color: whitesmoke;

  margin-top: 2vh;
}

.social {
  color: rgb(228, 223, 223);
  margin-left: 5px;
  margin-right: 5px;
}

#copyright {
  font-size: small;
  opacity: 35%;
}

.css-26l3qy-menu {
  z-index: 9999 !important;
}
