.graph-container {
  height: 90vh;
}

h3,
.h3 {
  font-size: 3vh !important;
}

.nav-link {
  color: #3cb44c !important;
}

.info-button {
  border-radius: 50% !important;
  font-size: 18px;
  width: 38px;
  height: 38px;
  font-family: Hoefler Text Bold Italic;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

.betting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}

.form-check-label {
  font-size: 1.5vh;
}

th {
  position: fixed;
}

.playerFix {
  left: 0;
  position: sticky;
  top: auto;
  font-size: 0.85rem;
  overflow-x: auto;
  background: #eee;
  z-index: -1;
}

.tableFixHead {
  overflow-y: auto;
  height: 80vh;
}

th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 24px;
  white-space: nowrap;
}

th {
  background: #eee;
}

td {
  z-index: -2;
  position: sticky;
}
